@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: rgb(99, 99, 99);
}

::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
}

body{
  overflow-y: visible;
  font-family:Arial, Helvetica, sans-serif ;
  background-color:rgb(39, 39, 41);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App {
  margin-top: 50px;
  padding-left:300px ;
  padding-right:300px ;
}

.post {
  display: flex;
  padding: 15px;
  margin-top: 15px;
  border: 2px solid teal;
  justify-content: space-between;
  align-items: center;
}

.post__btns{
  display: flex;
}

.post-enter {
 transform: translateX(-350px);
}
.post-enter-active {
  transform: translateX(0px);
  transition: all 500ms ease-in;
}
.post-exit {
  opacity: 1;
}
.post-exit-active {
  transform: translateX(-350px);
  transition: all 500ms ease-in;
}

.page__wrapper{
  margin-top: 30px;
  display: flex;
}

.page{
  padding: 10px;
  border: 1px solid teal;
  cursor: pointer;
}

.page__current{
  border: 2px solid orange;
  font-weight: bold;
}

.addBtn{
  position: fixed;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  bottom: 5rem;
  right: 5rem;
  border-radius: 9999999px;
  background: linear-gradient(90deg,  #696bec,#6366f1, #a855f7, #ec4899);
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
	transform: translate3d(0, 0, 0);
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.cardMedia {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15rem;
  border-radius: 16px;
	background: linear-gradient(-90deg,#696bec,#6366f1, #a855f7, #ec4899);
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
	transform: translate3d(0, 0, 0);
}
 
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}



